body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Baloo Da 2', sans-serif; /* Specify the default font family */
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
    color: rgba(69, 91, 72, 1);
    /* No need to redeclare font-family for h1 if it's already declared for body */
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px 20px; /* Adjust padding as needed */
    border-bottom: 2px solid black;
    font-family: 'Baloo Da 2', sans-serif;
    width: calc(100% - 40px); /* Adjust width to account for padding */
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px; /* Increase the margin-right value to add more space */
}

.menu ul li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold; /* Make the menu items bold */
    font-size: 1.2em; /* Increase the font size */
    position: relative;
}

.menu ul li a i {
    font-size: 28px; /* Increase the icon size */
    margin-right: 10px; /* Add space between icon and text */
    color: black;
    vertical-align: middle; /* Align the icons vertically with the text */
}

.menu ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; /* Initialize width */
    height: calc(100% + 10px);
    background-color: rgba(69, 91, 72, 1);
    z-index: -1;
    border-radius: 20px;
    transition: width 0.2s ease, height 0.2s ease;
    opacity: 0; /* Initially hide the hover effect */
}

.menu ul li a:hover::before {
    width: calc(var(--link-width) + 40px); /* Adjust the width for the hover effect */
    opacity: 1; /* Show the hover effect on hover */
}

.menu ul li a:hover {
    color: white; /* Change text color to white on hover */
}

.menu ul li a:hover i {
    color: white; /* Change icon color to white on hover */
}

.container {
    text-align: center;
}
