@font-face {
    font-family: 'Franchise-free-bold';
    src: url('Fonts/Franchise-Free-Bold.woff') format('woff2'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THUNDER';
    src: url('Fonts/Web-PS/Thunder-BlackLC.woff2') format('woff2'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THUNDER-LIGHT';
    src: url('Fonts/Web-PS/Thunder-LightLC.woff2') format('woff2'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THUNDER-MEDIUM';
    src: url('Fonts/Web-TT/Thunder-MediumLC.woff') format('woff2'),;
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'THUNDER-MEDIUM', sans-serif; /* Specify the default font family */
   
}

.Landing-text {
    font-size: 2.5em; /* Set the desired font size */
    font-family: 'THUNDER-MEDIUM', sans-serif; /* Specify the desired font family */
    /* Add any other styles specific to this element */
    line-height: 1;
}



h1 {
    font-size: 12em;
    margin-bottom: 20px;
    color: rgba(69, 91, 72, 1); /* Initial color for the heading */
    font-family: 'THUNDER', sans-serif;
    letter-spacing: 5px;
    
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px 20px; /* Adjust padding as needed */
    border-bottom: none;
    font-family: 'THUNDER-MEDIUM', sans-serif;
    width: calc(100% - 40px); /* Adjust width to account for padding */
    text-align: right;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px; /* Increase the margin-right value to add more space */
}

.menu ul li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold; /* Make the menu items bold */
    font-size: 1.2em; /* Increase the font size */
    position: relative;
}

.menu ul li a:hover {
    color: rgba(69, 91, 72, 1); /* Change text color to green on hover */
}

.menu ul li a i {
    font-size: 28px; /* Increase the icon size */
    margin-right: 10px; /* Add space between icon and text */
    color: black;
    vertical-align: middle; /* Align the icons vertically with the text */
}

.menu ul li a:hover i {
    color: rgba(69, 91, 72, 1); /* Change icon color to green on hover */
}

.container {
    text-align: center;
}
